.menuWrapper{
   border: solid 1px black;
   height: 100vh;
   width: 20%;
   display: inline-block;
}
.folderAndImgsWrapper{
  border: solid 1px black;
  height: 100vh;
  width: 79%;
  display: inline-block;
}

.listWrapper{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
}